{% extends 'base.html.twig' %}

{% block title %}
	Votre panier
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1>Votre Panier</h1>
		{% if cart.items|length > 0 %}
			<div class="row mt-4">
				<div class="col-md-8">
					{{ form_start(form) }}
					{% include 'Frontend/Cart/_listItems.html.twig' with { form: form } %}
					{{ form_end(form) }}
				</div>
				<div class="col-md-4">
					{% include 'Frontend/Cart/_cartTotals.html.twig' %}
				</div>
			</div>
		{% else %}
			<div class="alert alert-info">
				<p>Votre panier est vide !</p>
				<p>Retrouvez la liste des produits en
					<a href="{{ path('app.products.index') }}" class="btn btn-primary">cliquant ici</a>
				</p>
			</div>
		{% endif %}
	</section>
{% endblock %}
