<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<h6>À propos</h6>
				<p class="text-justify">
					E commerce Symfony est un site de démonstration pour apprendre à créer un site e-commerce avec le framework Symfony. Vous pouvez retrouver le code source sur mon github. Ce cours a pour but de former des étudiants au framework Symfony avec des composants avancés et l'intégration de l'API Stripe. Toutes commandes sur le site est defacto fictive et ne constitue en aucun un engagement de la part du développeur étant un site d'exemple. N'hésitez pas à me contacter pour toutes questions.
				</p>
			</div>

			<div class="col-xs-6 col-md-3">
				<h6>Liens utiles</h6>
				<ul class="footer-links">
					<li>
						<a href="#">Condition générale de ventes</a>
					</li>
					<li>
						<a href="#">Cookies</a>
					</li>
					<li>
						<a href="#">Politique de confidentialité</a>
					</li>
					<li>
						<a href="#">CGU</a>
					</li>
				</ul>
			</div>

			<div class="col-xs-6 col-md-3">
				<h6>Quick Links</h6>
				<ul class="footer-links">
					<li>
						<a href="#">Qui sommes nous</a>
					</li>
					<li>
						<a href="#">Contacter nous</a>
					</li>
					<li>
						<a href="#">Contributeur</a>
					</li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-12">
				<p class="copyright-text">Copyright &copy;
					{{ 'now' | date('Y') }}
					All Rights Reserved by
					<a href="https://pierre-bertrand-webmarketing.com">Pierre Bertrand</a>.
				</p>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<ul class="social-icons">
					<li>
						<a class="facebook" href="#">
							<i class="bi bi-facebook"></i>
						</a>
					</li>
					<li>
						<a class="twitter" href="#">
							<i class="bi bi-twitter-x"></i>
						</a>
					</li>
					<li>
						<a class="linkedin" href="#">
							<i class="bi bi-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
